.photo-grid {
  width: 1184px;
  margin: 0 48px 0 48px;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .photo-grid {
    max-width: 928px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .photo-grid {
    max-width: 720px;
    margin-left: 24px;
    margin-right: 24px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .photo-grid {
    width: 288px;
    margin-left: 16px;
    margin-right: 16px;
  }
}