.places__image {
  /*grid-row: 2/-1;
  grid-column: 1/-1;*/
  grid-area: "img";
  width: 100%;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .places__image {
    width: 440px;
  } 
}