.intro__list {
  width: 100%;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
/* or 150% */
  color: #FFFFFF;
  padding: 0;
  list-style-type: none;
  margin: 0;
}