.intro__list {
  width: 100%;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  color: #FFFFFF;
  padding: 0;
  list-style-type: none;
  margin: 0;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .intro__list {
    width: 288px;
  }
}