.lead {
  width: 984px;
  position: relative;
  margin: 56px 148px 0 148px; 
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .lead {
    width: 928px;
    margin: 48px 48px 0 48px;
  }  
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .lead {
    width: 100%;
    margin: 48px 0 0 0;
  }  
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .lead {
    width: 100%;
    margin: 48px 0 64px 0;
  }
}