.cover__subtitle {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
/* or 122% */
  text-align: center;
  margin: 0 412px 0 412px;
  position: relative;
  max-width: 360px;
}