.cover__subtitle {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
/* or 122% */
  text-align: center;
  margin: 0 412px 0 412px;
  position: relative;
  max-width: 360px;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .cover__subtitle {
    max-width: 360px;
    margin-left: 332px;
    margin-right: 332px;
    margin-top: 1px;
  }
    
}