.places__text {
  grid-area: text;
  width: 484px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 23px;
  
}

@media screen and (min-width: 1024px) and (max-width:1279px) {
  .places__text {
    width: 456px;
    column-gap: 0;
  }  
}

@media screen and (min-width: 768px) and (max-width:1023px) {
  .places__text {
    width: 352px;
    row-gap: 27px;
    column-gap: 0;
  }  
}

@media screen and (min-width: 320px) and (max-width:767px) {
  .places__text {
    width: 288px;
    margin-left: 16px;
    margin-right: 16px;
    row-gap: 25px;
    column-gap: 0;
  }  
}