.footer__link {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: #FFFFFF;
  text-decoration: none;
  opacity: 1;
} 

.footer__link:hover {
  opacity: 0.8;
  transition: opacity 0.3s linear;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer__link {
    max-width: 100%;
    font-size: 24px;
    line-height: 24px;
  }  
}