.lead__title {
  max-width: 720px;
  max-height: 200px;
  margin: 0 auto;
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  color: #FFFFFF;
}