.lead__title {
  max-width: 720px;
  max-height: 200px;
  margin: 0 auto;
  font-style: normal;
  font-weight: bold;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  color: #FFFFFF;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .lead__title {
    margin: 0 152px 0 152px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .lead__title {
    font-size: 40px;
    line-height: 44px;
    margin-left: 16px;
    margin-right: 16px;
  }
}