.footer__copyright {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
  margin: 0;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer {
    max-width: 100%;
    line-height: 14px;
  }  
}