.intro__text {
  width: 100%;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 163%;
  color: #FFFFFF;
  margin-top: 40px;
  margin-bottom: 32px;
}

@media screen and (min-width:  768px) and (max-width: 1023px) {
  .intro__text {
    margin-top: 37px;
    margin-bottom: 33px;
  }
}