.intro__text {
  width: 100%;
  font-family: 'Inter';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 163%;
/* or 26px */
  color: #FFFFFF;
  margin-top: 40px;
  margin-bottom: 32px;
}