.intro {
  width: 690px;
  margin: 92px 442px 92px 148px;
  padding-right: 0px;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .intro {
    margin-right: 286px;
    margin-left: 48px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .intro {
    margin-right: 24px;
    margin-left: 24px;
    margin-top: 90px;
    margin-bottom: 88px;
    width: 720px;
  }
}