.cover {
  background-image: url("../../images/__background.jpg");
  margin: 24px 48px 92px 48px;
  color: #fff;
  background-size: cover;
  position: relative;
  z-index: 1;
  height: 740px;
}

.cover::before {
  content: "";
  position: absolute;
  top: 0;  
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  z-index: -1;
  transition: opacity 350ms ease;
  overflow: hidden;
}

.cover:hover::before {
  opacity: 0.8;
}



@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .cover {
    height: 640px;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
  }   
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .cover {
      height: 480px;
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 85px;
    }   
  }

  @media screen and (min-width: 320px) and (max-width: 767px) {
    .cover {
      height: 200px;
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 66px;
      padding-top: 0px;
      margin-top: 0px;
    }   
  }