.places__place {
  width: 100%;
  display: grid;
  /*grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 33% 66%);*/
  column-gap: 40px;
  row-gap: 48px;
  grid-template-areas: 
  "title props" 
  "img text";
  grid-template-columns: 460px;
  margin-bottom: 80px;
}