.cover__title {
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
/* or 106% */
  text-align: center;
  padding-top: 245px;
  padding-bottom: 32px;
  margin: 0 312px 0 312px;
  position: relative;
  max-width: 560px;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .cover__title {
    margin-left: 232px;
    margin-right: 232px;
    padding-top: 195px;
  }  
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .cover__title {
    margin-left: 104px;
    margin-right: 104px;
    padding-top: 112px;
  }  
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .cover__title {
    font-size: 32px;
    line-height: 35px;
    margin-left: 16px;
    margin-right: 16px;
    padding-top: 33px;
    width: 288px;
    padding-bottom: 15px;
  }  
}