.places__website {
  /*grid-row: 1/2;
  grid-column: 2/-1;*/
  align-self: end;
  grid-area: "props";
  width: 456px;
  margin-right: 156px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .places__website {
    width: 352px;
    margin: 0;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .places__website {
    width: 288px;
    margin-left: 16px;
    margin-right: 16px;
    
  }
}