.places__url-heading {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 170%;
/* or 20px */
  letter-spacing: 2px;
  color: #AAAAAA;
  margin: 0 0 10px;
  padding: 0;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .places__url-heading {
    line-height: 12px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .places__url-heading {
    font-size: 12px;
    line-height: 12px;
  }
}